<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="ai-hub-dev-template.ZPM">
    <Module>
      <Name>ai-hub-dev-template</Name>
      <Version>2.0.9</Version>
      <Description>AI Hub Development Template</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Sample.PKG"/>
      <Invoke Method="Run" Class="Sample.MCPSetup"/>
      <WebApplication Url="/csp/demo"
            Path="/web"
            DeployPath="${cspdir}demo"
            CookiePath="/csp/demo/"
            PasswordAuthEnabled="0"
            UnauthenticatedEnabled="1"
            Recurse="1"
            MatchRoles=":%All"
            DispatchClass="Rest.VIF"/>
    </Module>
  </Document>
</Export>
